{% extends 'base.jinja' %}
{% block content %}

<main>
    <header>
        <h1>{{ title }}</h1>
    </header>








    <ul>
        {% for book_chosen in book %}
            <li>
                <p>Title: {{ book_chosen.title }}, Author: {{ book_chosen.author }}, Genre: {{ book_chosen.genre }} </p>
            </li>
        {% endfor %}
    </ul>





</main>




{% endblock content %}